.search_icons {
    width: 20px;
    height: 20px;
    float: left;
}

#sorting_box {
    width: 40vw;
}

#sorting_buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;
}
  
#sorting_buttons button {
    background-color: var(--login_button_bg_color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.3s ease;
    border: solid;
    margin: 10px;
    width: 40vw;
    border-radius: 10px;
}
  
#sorting_buttons button:hover {
    background-color: var(--login_button_hover_color);
}