:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main_section {
    background-color: var(--profile_section_bg_color);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    flex: 8 1 auto;
}

#forum_body {
    background-color: var(--main_section_bg_color);    
    display: flex;
}