<div id="profile_section">
    <div class="banner">
        <div class="overlay">
            <ng-template [ngIf]="useDefault" [ngIfElse]="hasImage">
                <img src="assets/UI Icons/recurve.png">
            </ng-template>
            <ng-template #hasImage>
                <img src="assets/images/avatars/{{loadedUser.icon}}" (error)="swapDefault()">
            </ng-template>
        </div>
    </div>

    <div class="name" id="userinfo">
        <p id="nickname">{{loadedUser.name}}</p>
        <p id="handle">@{{loadedUser._id}}</p>
        <p id="join">Joined {{formattedDate}}</p>
    </div>

    <div class="status">
        <p>{{loadedUser.about}}</p>
    </div>

    <div class="post_category">
        <button [class.active]="activeTab === 0" id="post_button" (click)="setActive(0)">posts</button>
        <button [class.active]="activeTab === 1" id="comment_button" (click)="setActive(1)">comments</button>
    </div>
</div>