<dialog id="password_Modal" class="modal" [open]="is_open">
    <div class="user_box">
        <span class="close" (click)="close()">&times;</span>
        <form id="password_Form" [formGroup]="password_details" (submit)="submit($event)">
            <h2>Change Password</h2>
            <input type="password" id="new_password" formControlName="new_password" placeholder="New Password" required />
            <input type="password" id="confirm_password" formControlName="confirm_password" placeholder="Confirm Password" required />
            <input type="submit" value="submit"/>
        </form>
    </div>
</dialog>
