.comment_display {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 10px;
}

#comments_section {
    margin-top: 30px;
}

.buttonBox {
    display: flex;
    justify-content: space-evenly;
}

  