<form id="loginForm" [formGroup]="loginInfo" (submit)="submit()">
    <h2>Login</h2>  
    <input type="text" id="login_username" formControlName="userId" placeholder="Username" required>
    <input type="password" id="login_password" formControlName="password" placeholder="Password" required>
    <div id="check">
        <input type="checkbox" value="lsRemember" id="remember_Me" formControlName="rememberFlag">
        <label for="remember_Me">Remember me</label>
    </div>
    <input type="submit" value="Login">

    <div id="sign_instead">
        <p><span>Do not have an account?</span><span id="signin_link" (click)="swap()">Sign up</span></p>
    </div>
</form>
